#nav-logo {
  height: 1em;
  background: transparent;
  margin-top: 5px;
}

/* HEEEEY */
#sefravær {
  margin: 0px 5px;
}

/* SUMMARY-PAGE*/

.summary-month {
  min-height: 4em;
}


#success-dismissable {
  max-height: 2em;
}